*{
  color: rgb(10, 14, 14);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:rgba(60, 92, 92, 0.2)
}
h1{
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px black;
}
form{
  margin-left:25%;
  width: 50%;
  height: 580px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  background-color: purple;
  color: aliceblue;
}
form input{
  margin: 10px;
  width: 60%;
  height: 20px;
  color:black;
  font-weight: 400;
  background-color: aliceblue;
}